html
  head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='description', content='')

    meta(name='author', content='')

    link(rel='icon', href='/images/favicon.ico')

    title Elff.in | Make your links short!

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')

    link(href='/css/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js')
    script(src='/js/script.js')

  body(ng-app="elff",  ng-controller="postController")
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h1.masthead-brand Elff.in

          .inner.cover
            <img src="/images/elf2.png" class="img-responsive center-block" alt="Responsive image" height = "256px" width = "256px">
            h1.cover-heading Make your links short!

            p.lead Do you hate it when the URLs exceed the 140 character limit on Twitter? Then you&apos;ve come to the right place.

            p.lead

              input.form-control(type='text', placeholder='Enter the URL', aria-describedby='basic-addon1', ng-model="longURL", required, id = "longURL", ng-keyup="$event.keyCode == 13?post(longURL):null")

          .mastfoot
            .inner
              p Made by
                 a(href='https://twitter.com/vinaygaba') @vinaygaba

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

    script.
      window.jQuery  document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
